@import url('https://fonts.googleapis.com/css?family=Shrikhand');

$color-blue-light: #007db1;
$color-blue: #0a57ae;
$color-red: #b72b07;
$color-gray: #e7e7e7;

html {
  height: 100vh;
  body {
    height: 100%;

    app-root {
      height: 100%;
    }
  }
  *{
    box-sizing: border-box;
  }
  .h1, .h2, .h3, h1, h2, h3, h4, h5 {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Shrikhand', cursive;
  }
  h5 {
    font-size: 16px;
    margin-bottom: 0;
    padding: 0;
    padding-left: 15px;
  }
}

h3 {
  border-bottom: 1px solid $color-gray;
  padding-bottom: 10px;
}

#header,
#center,
#footer {
  overflow: hidden;
}

#header  {
  border-bottom: 3px solid $color-blue-light;
  background: $color-blue;
  height: 120px;

  .logo {
    height: 100%;
    img {
      height: 100%;
      padding: 15px;
    }
  }
}

#center {
  height: calc(100% - 120px - 50px);
}

#footer {
  height: 50px;
  border-top: 2px solid $color-blue-light;
  background: $color-gray;
  color: #fff;
}

//Login window
app-login {

  #loginWindow {
    border: 1px solid $color-blue;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin: 50px auto 0;
    width: 400px;
    background: $color-gray;
    padding: 30px 50px;
    border-radius: 12px;

    .input-group {
      margin-top: 6px;
    }
    .submit {
      text-align: center;
      margin-top: 20px;
      width: 100%;
    }
  }
}


.fa {
  cursor: pointer;
  color: $color-blue-light;
  &:hover {
    color: $color-red;
  }
}

// Chat window
app-chat {
  display: flex;
  align-content: stretch;
  height: 100%;

  > div {
    padding: 0 10px;
  }
  #rooms {
    width: 20%;
  }
  #chat {
    width: 60%;
    border-right: 2px solid $color-gray;
    border-left: 2px solid $color-gray;
    position: relative;

    .chatWindow {
      height: calc(100% - 122px);


      .messages {
        height: 100%;
        overflow-y: auto;
      }
    }

    .chatInput {
      border-top: 1px solid $color-gray;
      height: 50px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      input {
        width: calc(100% - 20px);
        height: 30px;
        margin: 10px 0 10px 10px;
        padding: 0 100px 0 5px;
      }
      button {
        position: absolute;
        right: 9px;
        top: 8px;
        height: 33px;
        width: 10%;
      }
    }
  }
  #users {
    width: 20%;
  }
}

.message {
  background: #fbfbfb;
  padding: 5px;
  border: 1px solid #ececec;
  border-radius: 4px;
  margin-bottom: 5px;

  .info {
    border-bottom: 1px solid $color-gray;
    padding-bottom: 5px;
    margin-bottom: 5px;

    .sender {
      font-weight: bold;
    }
  }
  .context {

  }
}

// user rooms
#rooms {
  height: 100%;

  .activeRooms {
    height: 100%;

    ul {
      height: calc(100% - 75px);
      overflow-y: auto;
    }
  }
}

// All rooms
.allRooms {
  height: 100%;
  ul {
    height: 100%;
    overflow-y: auto;
    padding: 0 0 20px;

    .form-control {
      padding-right: 125px;
    }
  }
}

// All users
app-user-list {
  height: 100%;

  ul {
    height: calc(100% - 80px);
    overflow-y: auto;
  }
}

// Misc
.btn.myBtn {
  padding: 6px 9px;
  font-size: 14px !important;
  top: 10px;
}

li.list-group-item {
  cursor: pointer;
  background: #f5f5f5;
  color: #000;
  font-weight: bold;

  &.special {
    background: none;
    padding-left: 0;
    font-size: 20px;
  }
  &.noPad {
    padding: 0;
    background: none;
  }
  &:hover:not(.noHover) {
    background: $color-blue-light;
    color: #fff;

    input {
      color: #000;
    }

    .fa.icon {
      color: $color-red;
    }
  }

  .fa {
    font-size: 18px;
    position: absolute;
    right: 15px;
  }
}

.noClick {
  cursor: initial;

  &:hover {
    color: $color-blue-light;
  }
}

.options {
  position: absolute;
  top: 12px;
  right: 0;
  display: flex;

  .fa {
    color: $color-red !important;
    margin-left: 3px;
    position: relative !important;

    &:hover {
      color: darken($color-red, 30%) !important;
    }
  }
}

.notification {
  position: absolute;
  top: 10px;
  right: 10px;
}
