<div id="rooms">
  <div class="activeRooms">
    <app-room [activeRoom]="activeRoom" (notify)="onNotify($event)" ></app-room>
  </div>
</div>

<div id="chat">
  <div class="chatWindow">
    <h3 *ngIf="activeRoom !== undefined">{{activeRoom}}</h3>
    <div #scrollMe *ngIf="activeRoom !== undefined" class="messages">
      <div class="message" *ngFor="let msg of chat">
        <div class="info">
          <span class="sender">{{msg['nick']}}</span>
          <span class="wrote">wrote at</span>
          <span class="time">{{msg['timestamp']}}</span>
        </div>
        <div class="context">
          <div class="text">{{msg['message']}}</div>
        </div>
      </div>
    </div>

    <app-room-list *ngIf="activeRoom === undefined" (notify)="onNotify($event)" ></app-room-list>

  </div>
  <div *ngIf="activeRoom" class="chatInput">
    <input *ngIf="activeRoom" [(ngModel)]="message" (keyup.enter)='sendMessage()'>
    <button class="btn btn-default" *ngIf="activeRoom" (click)="sendMessage()">Send</button>
  </div>
</div>

<div id="users">
  <app-user *ngIf="activeRoom" [activeRoom]="activeRoom"></app-user>
  <app-user-list *ngIf="activeRoom === undefined" (notify)="onNotify($event)" ></app-user-list>
</div>

